html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url("base/fonts/montserrat-v15-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("base/fonts/montserrat-v15-latin-300.eot?#iefix") format("embedded-opentype"), url("base/fonts/montserrat-v15-latin-300.woff2") format("woff2"), url("base/fonts/montserrat-v15-latin-300.woff") format("woff"), url("base/fonts/montserrat-v15-latin-300.ttf") format("truetype"), url("base/fonts/montserrat-v15-latin-300.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url("base/fonts/montserrat-v15-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("base/fonts/montserrat-v15-latin-regular.eot?#iefix") format("embedded-opentype"), url("base/fonts/montserrat-v15-latin-regular.woff2") format("woff2"), url("base/fonts/montserrat-v15-latin-regular.woff") format("woff"), url("base/fonts/montserrat-v15-latin-regular.ttf") format("truetype"), url("base/fonts/montserrat-v15-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url("base/fonts/montserrat-v15-latin-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("base/fonts/montserrat-v15-latin-700.eot?#iefix") format("embedded-opentype"), url("base/fonts/montserrat-v15-latin-700.woff2") format("woff2"), url("fonts/montserrat-v15-latin-700.woff") format("woff"), url("base/fonts/montserrat-v15-latin-700.ttf") format("truetype"), url("base/fonts/montserrat-v15-latin-700.svg#Montserrat") format("svg");
  /* Legacy iOS */
}

/* roboto-300 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("base/fonts/roboto-v20-latin-300.eot");
  /* IE9 Compat Modes */
  src: local(""), url("base/fonts/roboto-v20-latin-300.eot?#iefix") format("embedded-opentype"), url("base/fonts/roboto-v20-latin-300.woff2") format("woff2"), url("base/fonts/roboto-v20-latin-300.woff") format("woff"), url("base/fonts/roboto-v20-latin-300.ttf") format("truetype"), url("base/fonts/roboto-v20-latin-300.svg#Roboto") format("svg");
  /* Legacy iOS */
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("base/fonts/roboto-v20-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("base/fonts/roboto-v20-latin-regular.eot?#iefix") format("embedded-opentype"), url("base/fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("base/fonts/roboto-v20-latin-regular.woff") format("woff"), url("base/fonts/roboto-v20-latin-regular.ttf") format("truetype"), url("base/fonts/roboto-v20-latin-regular.svg#Roboto") format("svg");
  /* Legacy iOS */
}

html {
  font-size: 14px;
  font-family: 'Montserrat';
}

body {
  background-color: #F2F2F2;
}

.header {
  height: 90vh;
  background-image: url(../img/Background.png);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__top {
  height: 15%;
  width: 66%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top__logo a {
  font-size: 1.42rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.header__top__sign {
  width: 17%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top__sign a {
  text-decoration: none;
  color: white;
  line-height: 24px;
}

.header__top__sign [value="Sign up"] {
  width: 58%;
  height: 27px;
  border-radius: 40px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  outline: none;
}

.header__center {
  max-width: 41%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__center__heading h1 {
  font-size: 3.71rem;
  font-weight: 700;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.header__center__text p {
  font-family: 'Roboto';
  font-size: 1.71rem;
  font-weight: 300;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.header__center__button input {
  height: 28px;
  background-color: #ff4e50;
  border-radius: 40px;
  border: 1px solid #ff4e50;
  outline: none;
  color: white;
  font-weight: 700;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blocks {
  width: 70%;
  height: 500px;
  margin-top: 55px;
}

.blocks__heading {
  height: 20%;
  text-align: center;
  line-height: 100px;
}

.blocks__heading h1 {
  color: #444444;
  font-weight: 700;
  font-size: 1.85rem;
}

.blocks__content {
  height: 80%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.blocks__content__first, .blocks__content__second, .blocks__content__third {
  width: 29%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 10px;
}

.blocks__content__first input, .blocks__content__second input, .blocks__content__third input {
  width: 63px;
  background-color: #ff4e50;
  color: white;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-radius: 40px;
  margin-bottom: 10px;
  outline: none;
}

.blocks__content__first h2, .blocks__content__second h2, .blocks__content__third h2 {
  color: white;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 1.71rem;
}

.blocks__content__first p, .blocks__content__second p, .blocks__content__third p {
  color: white;
  font-family: 'Roboto';
  font-weight: 300;
  margin-bottom: 10px;
}

.blocks__content__first {
  background-image: url(../img/step1.png);
}

.blocks__content__second {
  background-image: url(../img/step2.png);
}

.blocks__content__third {
  background-image: url(../img/step3.png);
}

.group {
  width: 70%;
  margin-top: 50px;
}

.group__heading, .gallery__heading, .block__form__heading {
  height: 100px;
}

.group__heading h1, .gallery__heading h1, .block__form__heading h1 {
  color: #444444;
  text-align: center;
  line-height: 100px;
  font-weight: 700;
  font-size: 1.85rem;
}

.group__people {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.group__people__item {
  height: 210px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 10px;
}

.group__people__item h2 {
  font-weight: 700;
  color: #444444;
}

.group__people__item p {
  text-align: center;
  font-family: 'Roboto';
  font-weight: 300;
  color: #666666;
}

.group__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 55px;
}

.group__button input {
  width: 150px;
  height: 30px;
  color: #ff4e50;
  background-color: transparent;
  border: 2px solid #ff4e50;
  font-weight: 700;
  border-radius: 40px;
  outline: none;
}

.gallery {
  width: 70%;
}

.gallery__section {
  width: 100%;
  height: 950px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.gallery__section__element_1 {
  background-image: url(../img/Sport.png);
  font-size: 1.51rem;
  color: white;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__section__element_2 {
  background-image: url(../img/Healath.png);
  font-size: 1.51rem;
  color: white;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__section__element_3 {
  background-image: url(../img/Extreme.png);
  text-align: center;
  font-size: 1.51rem;
  color: white;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__section__element_4 {
  background-image: url(../img/Games.png);
  font-size: 1.51rem;
  color: white;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery__section__element_5 {
  background-image: url(../img/Culture.png);
  font-size: 1.51rem;
  color: white;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
}

.gallery__section__element_6 {
  background-image: url(../img/relax.png);
  font-size: 1.51rem;
  color: white;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
}

.gallery__section__element_7 {
  background-image: url(../img/trav.png);
  font-size: 1.51rem;
  color: white;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.block__form {
  width: 70%;
  margin-top: 50px;
  margin-bottom: 100px;
}

.block__form__subtitle {
  font-size: 1.28rem;
  font-family: 'Roboto';
  font-weight: 300;
  color: #666666;
  text-align: center;
}

.block__form__input {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block__form__input [type="text"] {
  width: 300px;
  height: 40px;
  font-family: 'Roboto';
  font-weight: 300;
  margin-right: 7px;
  border: 1px solid #666666;
  padding-left: 10px;
  outline: none;
  border-radius: 5px;
}

.block__form__input [type="button"] {
  width: 172px;
  height: 40px;
  color: white;
  background-color: #ff4e50;
  border-radius: 40px;
  outline: none;
  font-weight: 700;
  border: transparent;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 2px solid #ff4e50;
}

.footer {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px 0;
}

.footer__first {
  width: 25%;
}

.footer__first a {
  font-size: 1.14rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #ff4e50;
}

.footer__second {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer__second__head h3 {
  width: 100%;
  font-weight: 700;
  color: #444444;
  margin-bottom: 15px;
}

.footer__second__link {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer__second__link a {
  font-family: 'Roboto';
  font-weight: 300;
  text-decoration: none;
  color: #999999;
  line-height: 26px;
}

.footer__third {
  width: 25%;
}

.footer__third h3 {
  font-weight: 700;
  color: #444444;
}

.footer__fourth {
  width: 25%;
}

.footer__fourth img {
  float: right;
}

@media screen and (max-width: 1145px) {
  .header__top__sign {
    width: 20%;
  }
  .header__center {
    max-width: 54%;
  }
  .blocks {
    width: 85%;
  }
  .group {
    width: 85%;
  }
  .gallery__section > div {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 869px) {
  .header {
    background-position: center;
  }
  .header__top {
    width: 84%;
  }
  .header__top__sign {
    width: 20%;
  }
  .header__center {
    max-width: 71%;
    height: 58%;
  }
  .blocks {
    width: 100%;
  }
  .blocks__heading h1 {
    font-size: 1.52rem;
  }
  .group {
    width: 100%;
  }
  .group__heading h1, .gallery__heading h1, .block__form__heading h1 {
    font-size: 1.52rem;
  }
  .group__people {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .group__people__item {
    width: 45%;
    padding: 0 15px;
    margin-bottom: 30px;
  }
  .group__button {
    margin-top: 10px;
  }
  .gallery {
    width: 85%;
  }
  .gallery__heading h1 {
    font-size: 1.52rem;
  }
  .gallery__section > div {
    font-size: 1.15rem;
  }
  .block__form__heading h1 {
    font-size: 1.52rem;
  }
  .footer {
    width: 85%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__first,
  .footer .footer__second__link, .footer__second, .footer__third {
    text-align: center;
  }
  .footer__second {
    margin-top: 15px;
    width: 36%;
  }
  .footer__second__link {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__second__link a {
    margin: 0 5px;
  }
  .footer__fourth img {
    clear: right;
  }
}

@media screen and (max-width: 660px) {
  .header__top__sign {
    width: 34%;
  }
  .header__center {
    max-width: 94%;
  }
  .blocks {
    height: 1000px;
    margin-top: 25px;
  }
  .blocks__heading {
    height: 8%;
  }
  .blocks__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blocks__content__first, .blocks__content__second, .blocks__content__third {
    width: 55%;
    margin-bottom: 20px;
    padding: 0 15px;
  }
  .group {
    margin-top: -105px;
  }
  .group__people__item {
    width: 100%;
    padding: 0 150px;
  }
  .gallery__section {
    display: block;
    height: 1480px;
  }
  .gallery__section > div {
    height: 200px;
    margin-bottom: 15px;
  }
  .footer__second {
    width: 46%;
  }
}

@media screen and (min-width: 325px) and (max-width: 480px) {
  .header__top {
    height: 33%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 23px;
  }
  .header__top__sign {
    width: 43%;
  }
  .header__center {
    max-width: 78%;
    height: 33%;
  }
  .header__center__heading h1 {
    font-size: 2.14rem;
  }
  .header__center__text p {
    font-size: 1.28rem;
  }
  .blocks__content {
    height: 100%;
  }
  .blocks__content__first, .blocks__content__second, .blocks__content__third {
    width: 88%;
    padding: 0 15px;
  }
  .group {
    margin-top: 105px;
  }
  .group__heading h1, .gallery__heading h1, .block__form__heading h1 {
    line-height: 1;
  }
  .group__button input {
    width: 225px;
  }
  .group__people__item {
    padding: 0 100px;
  }
  .gallery {
    margin-top: 40px;
  }
  .block__form {
    width: 90%;
  }
  .gallery__heading,
  .block__form__heading {
    height: 45px;
  }
  .block__form__input {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .block__form__input [type="text"] {
    width: 280px;
  }
  .block__form__input [type="button"] {
    width: 280px;
    margin-top: 10px;
  }
  .footer__second {
    width: 58%;
  }
}
/*# sourceMappingURL=main.css.map */